body{
  background-color: #ccc;
  font-family: "Open Sans";
}

div.tooltip {
        color: #222;
        background-color: #fff;
        padding: .5em;
        text-shadow: #f5f5f5 0 1px 0;
        border-radius: 2px;
        opacity: 0.9;
        position: absolute;
    }
.btn {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

#map {
    width: 1080px;
    height: 400px;
}
#map path {
  stroke: white;
  stroke-width: 0.25px;
  fill: rgb(107, 174, 214);
}
.application.container{
  background-color: #eee;
  padding: 0px;
}
.navbar{
  margin: 0px;
  padding: 0px;
  background-color: white;
  border-radius: 0px;
}
.navbar-nav{
  margin: 10px 0px;
}
.chart-wrapper{
  margin: 20px;
  border-radius: 0px;
}
.drag-hint {
	position: absolute;
	left: 90%;
	top: 10px;
	/*z-index: -10;*/
}
.drag-hint img{
  width: 50px;
  height: 50px;
}

rect.bar{
  fill: #359980;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}
.y-axis-label {
  fill: #666;
  font-size: 14px;
}
.dc-chart .axis {
  fill: #666;
  font: 12px "Open Sans";
}
.dc-chart g.axis text{
  font-size: 12px;
}
.dc-chart .axis path,
.dc-chart .axis path, .axis line{
  stroke: #ccc;
}

.footer-bottom {
    background-color: #3d4a57;
    width: 100%;
}
.footer-bottom p{
  margin: 0;
  padding: 0;
  color: #eee;
}

.form-signin
{
    background: #fff;
    max-width: 440px;
    padding: 35px;
    margin: 0 auto;
}
.form-label{
  font-size: 10px;
}
.license{
  text-align: right;
}
#loader{
  background-color: #fff;
  height: 200px;
  padding:50px;
  position: absolute;
  left: 45%;
  top: 200px;
  z-index: 1;
  border-radius: 20px;

}
#warning{
  background-color: #ccc;
  height: 200px;
  padding:50px;
  position: absolute;
  left: 40%;
  top: 200px;
  z-index: 1;
  border-radius: 20px;
  display: none;
}
#spinner {
  width: 90px;
  height: 90px;
  border: 10px solid #CCC;
  border-radius: 50%;
  border-top: 10px solid #0099CC;
  animation: spin infinite linear 1s;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
