//- unauthorised.jade
extends ./layout

block title
  title No autorizado

block content
  div.login-page
    div.form
      h3
        span Star Exports, S.L
        h4 No puede acceder a esta pagina
        a(href="/login") Ir a login
