<div class="row" ng-hide="shipment._id">
  <div class="col-md-6">
      <h2>Create new shipment</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Year</label>
      <input id="year" class="form-control" type="text" ng-model="shipment.year">
    </p>
    <p>
      <label>Period</label>
      <input id="period" class="form-control" type="text" ng-model="shipment.period">
    </p>
    <p>
      <label>Period desc</label>
      <input id="period_desc" class="form-control" type="text" ng-model="shipment.period_desc">
    </p>
    <p>
      <label>Trade flow code</label>
      <input id="trade_flow_code" class="form-control" type="text" ng-model="shipment.trade_flow_code">
    </p>
    <p>
      <label>Trade flow</label>
      <input id="trade_flow" class="form-control" type="text" ng-model="shipment.trade_flow">
    </p>
    <p>
      <label>Reporter code</label>
      <input id="reporter_code" class="form-control" type="text" ng-model="shipment.reporter_code">
    </p>
    <p>
      <label>Reporter</label>
      <input id="reporter" class="form-control" type="text" ng-model="shipment.reporter">
    </p>
    <p>
      <label>Partner code</label>
      <input id="partner_code" class="form-control" type="text" ng-model="shipment.partner_code">
    </p>
    <p>
      <label>Partner</label>
      <input id="partner" class="form-control" type="text" ng-model="shipment.partner">
    </p>
    <p>
      <label>Commodity code</label>
      <input id="commodity_code" class="form-control" type="text" ng-model="shipment.commodity_code">
    </p>
    <p>
      <label>Commodity</label>
      <input id="commodity" class="form-control" type="text" ng-model="shipment.commodity">
    </p>
    <p>
      <label>Trade value Total (US$)</label>
      <input id="trade_value_total" class="form-control" type="text" ng-model="shipment.trade_value_total">
    </p>
    <p>
      <label>Trade Value Start Exports (US$)</label>
      <input id="trade_value_start_exports" class="form-control" type="text" ng-model="shipment.trade_value_start_exports">
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveShipment(shipment)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>
