<div class="row" ng-hide="shipment._id">
  <div class="col-md-6">
      <h2>Create new shipment</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>year</label>
      <input id="year" class="form-control" type="text" ng-model="shipment.year">
    </p>
    <p>
      <label>period</label>
      <input id="period" class="form-control" type="text" ng-model="shipment.period">
    </p>
    <p>
      <label>period_desc</label>
      <input id="period_desc" class="form-control" type="text" ng-model="shipment.period_desc">
    </p>
    <p>
      <label>trade_flow_code</label>
      <input id="trade_flow_code" class="form-control" type="text" ng-model="shipment.trade_flow_code">
    </p>
    <p>
      <label>trade_flow</label>
      <input id="trade_flow" class="form-control" type="text" ng-model="shipment.trade_flow">
    </p>
    <p>
      <label>reporter_code</label>
      <input id="reporter_code" class="form-control" type="text" ng-model="shipment.reporter_code">
    </p>
    <p>
      <label>reporter</label>
      <input id="reporter" class="form-control" type="text" ng-model="shipment.reporter">
    </p>
    <p>
      <label>partner_code</label>
      <input id="partner_code" class="form-control" type="text" ng-model="shipment.partner_code">
    </p>
    <p>
      <label>partner</label>
      <input id="partner" class="form-control" type="text" ng-model="shipment.partner">
    </p>
    <p>
      <label>commodity_code</label>
      <input id="commodity_code" class="form-control" type="text" ng-model="shipment.commodity_code">
    </p>
    <p>
      <label>commodity</label>
      <input id="commodity" class="form-control" type="text" ng-model="shipment.commodity">
    </p>
    <p>
      <label>trade_value_total</label>
      <input id="trade_value_total" class="form-control" type="text" ng-model="shipment.trade_value_total">
    </p>
    <p>
      <label>trade_value_start_exports</label>
      <input id="trade_value_start_exports" class="form-control" type="text" ng-model="shipment.trade_value_start_exports">
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveShipment(shipment)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>
