<div class = "row">
  <div class="col-md-6">
    <h2>
      {{shipment.period}} {{ shipment.reporter }} -> {{ shipment.partner }}
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a href="#/"><button style="margin-top:20px" class="btn btn-default" ng-click="deleteShipment(shipment._id)">Delete</button></a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
    <p ng-if="shipment.year"> Year: {{ shipment.year }} </p>
    <p ng-if="shipment.period"> Period: {{ shipment.period }} </p>
    <p ng-if="shipment.period_desc"> Period desc: {{ shipment.period_desc }} </p>
    <p ng-if="shipment.trade_flow_code"> Trade flow code: {{ shipment.trade_flow_code }} </p>
    <p ng-if="shipment.trade_flow"> Trade flow: {{ shipment.trade_flow }} </p>
    <p ng-if="shipment.reporter_code"> Reporter code: {{ shipment.reporter_code }} </p>
    <p ng-if="shipment.reporter"> Reporter: {{ shipment.reporter }} </p>
    <p ng-if="shipment.partner_code"> Partner code: {{ shipment.partner_code }} </p>
    <p ng-if="shipment.partner"> Partner: {{ shipment.partner }} </p>
    <p ng-if="shipment.commodity_code"> Commodity code: {{ shipment.commodity_code }} </p>
    <p ng-if="shipment.commodity"> Commodity: {{ shipment.commodity }} </p>
    <p ng-if="shipment.trade_value_total"> Trade value total: {{ shipment.trade_value_total }} </p>
    <p ng-if="shipment.trade_value_start_exports"> Trade value start exports: {{ shipment.trade_value_start_exports }} </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Edit</button>
      <a style="margin-top:20px" class="btn btn-default" href="#/">Back</a>
    </p>
  </div>
</div>
<!-- Shipment form -->
<div ng-include="shipmentFormUrl">
</div>
